@import 'utils/variables';
@import 'utils/mixins';
@import 'blocks/card';
@import 'blocks/stars';

body {
  font-family: $main-font;
  font-size: 10px;
  line-height: 14px;
  color: $text-secondary-color;
  margin: 0;
}
